---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
---

<Layout  title="Kerala Startup Mission">
  
    <section class="  w-screen h-screen">
        <div class=" h-full">
            <div class="single-slide  h-full bg-cover" style="background-image: url('/img/hero-3-1.jpg')">
                <div class="container h-full items-center justify-center mx-auto flex flex-col text-center">
                    <div class="">
                        <div class=" items-center justify-center mx-auto flex flex-col text-center">
                            <div class="">
                                <h4 class="mt-4 animated-text small-heading text-white text-6xl font-bold pb-1">Build It Big for the Billions </h4>
                                <h4 class="mt-4 animated-text small-heading text-white text-5xl font-bold md:pb-10 pb-8">Programme</h4>
                                <a href="https://zfrmz.com/KmxYJYctne8uk5gOx8EB" target="_blank" class="theme-btn animated-text animated-btn">Apply Now<i class="fal fa-long-arrow-right"></i></a>
                                <a href="#about" class="theme-btn animated-text animated-btn minimal-btn">learn more <i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>

   
    <section class="promo-featured-wrapper py-24" id="about">
        <div class="container">
            <div class="flex md:flex-row flex-col align-center gap-6">
                <div class=" md:w-1/2 w-full text-center md:p-6">
                    <div class="featured-img bg-cover" style="background-image: url('/img/2149546181 1.png')">
                        <div class="top-img bg-cover d-none d-md-block" style="background-image: url('/img/2148352561 1.png')"></div>
                        <div class="bottom-img bg-cover" style="background-image: url('/img/2148776737 1.png')"></div>
                    </div>
                </div>
                <div class=" md:w-1/2 w-full p-6">
                    <div class=" flex flex-col">
                        <span class=" text-lg font-semibold text-blue-900 pt-6 ">About</span>
                        <!-- <h1>Dustrix is always interested for doing awesome work.</h1> -->
                        <h4 class=" text-justify">The “Build It Big for the Billions” programme, launched by Kerala Startup Mission (KSUM), is aimed at
                            supporting the ‘Make in India’ initiative by promoting local manufacturing and reducing import
                            dependencies. This program focuses on mobilizing entrepreneurs across India to develop innovative
                            solutions that can transform India’s manufacturing sector. With a streamlined process, the initiative will
                            be implemented within one month, featuring online applications and scrutiny, culminating in an award
                            ceremony led by the Hon. Chief Minister of Kerala.</h4>

                            <span class="pt-4">Organizing Entity:<b> Kerala Startup Mission (KSUM)</b> </span>
                      
                        <a href="" class="theme-btn w-fit mt-8 theme-2 mb-30 mb-lg-0 white">Get In Touch <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                    <div class="cta-funfact-wrap mt-10">
                        <div class="md:container">
                            <div class="">
                                <div class="">
                                    <div class="cta-wrap d-flex flex justify-content-center align-items-center w-full">
                                        <p class="text-white p-4 md:text-4xl text-lg text-center font-bold items-center justify-center uppercase">Build It Big for the Billions Programme</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    



    <section class="video-featured-wrapper section-bg" id="objectives">
        <div class="container-fluid pl-xl-5">
            <div class="flex md:flex-row flex-col gap-4 md:gap-0 align-items-center">
                <div class=" md:w-2/3 w-full">
                    <div class="section-title-3 pr-xl-0 mr-lg-5">
                        <p class="text-white">Objectives</p>
                    </div>

                    <div class="core-features-list pr-xl-5">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="single-feature-item">
                                    <div class="icon">
                                        <img src="assets/img/icon/factory.png" class=" items-center justify-center mx-auto flex my-auto pt-4" alt="">
                                    </div>
                                    <div class="content">
                                        <h3><a href="services-details.html">Empower entrepreneurs</a></h3>
                                        <p>Provide a platform for Indian entrepreneurs to present innovative
                                            business ideas that focus on import substitution.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="single-feature-item">
                                    <div class="icon">
                                        <img src="assets/img/icon/factory.png" class=" items-center justify-center mx-auto flex my-auto pt-4" alt="">
                                    </div>
                                    <div class="content">
                                        <h3><a href="services-details.html">Promote local manufacturing</a></h3>
                                        <p>Encourage scalable, local manufacturing solutions that can
                                            contribute to reducing import reliance.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="single-feature-item">
                                    <div class="icon">
                                        <img src="assets/img/icon/factory.png" class=" items-center justify-center mx-auto flex my-auto pt-4" alt="">
                                    </div>
                                    <div class="content">
                                        <h3><a href="services-details.html">Support the ‘Make in India’ initiative:</a></h3>
                                        <p>Align the selected business models with national goals
                                            of economic self-sufficiency.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="single-feature-item">
                                    <div class="icon">
                                        <img src="assets/img/icon/factory.png" class=" items-center justify-center mx-auto flex my-auto pt-4" alt="">
                                    </div>
                                    <div class="content">
                                        <h3><a href="services-details.html">Showcase Kerala’s innovation</a></h3>
                                        <p>Position Kerala and KSUM as leading supporters of national
                                            growth through entrepreneurship and innovation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" md:w-1/3 w-full">
                    <div class=" flex w-full h-full bg-cover">
                        <img src="/img/2149241288.jpg">
                    </div>

                </div>
            </div>
        </div>
    </section>


   
    <section class="funfact-wrapper text-white mb-24">
        <div class="container">
            <div class="funfact-content-grid bg-cover w-full bg-center" style="background-image: url('assets/img/home4/cta-bg.png')">
                    <!-- <div class=" text-start md:px-10 px-5">
                        <p class=" text-xl px-6">Impact and Significance</p>
                        <p class="pl-10">The “Build It Big for the Billions” programme will</p>
                         <ul class=" pl-16">
                            <li>Drive the creation of innovative local manufacturing solutions.</li>
                            <li>Directly support India’s self-reliance goals by focusing on import substitution.</li>
                            <li>Establish Kerala as a key player in fostering national innovation and entrepreneurship.</li>
                        </ul>
                    </div> -->
                  <p class=" text-xl max-w-5xl flex flex-col items-center justify-center text-center mx-auto">
                    <span class=" font-bold">“Build It Big for the Billions”</span> programme will elevate Indian entrepreneurs by providing them with
                    a platform to showcase scalable solutions for local manufacturing. The initiative will position KSUM and
                    Kerala as pivotal enablers in achieving the ‘Make in India’ vision and in building a robust entrepreneurial
                    ecosystem.
                  </p>
            </div>
        </div>
    </section> 

   

</layouts>