<header class="header-wrap header-4">
  <div class="top-header d-none d-lg-block">
      <div class="container-flud">
         
      </div>
  </div>

  <div class="main-header-wraper">
      <div class="container-fluid">
          <div class="row align-items-center justify-content-between">
              <div class="header-logo">
                  <div class="logo">
                      <a href="/">
                          <img src="/img/logo-white.svg" class="w-20 " alt="logo">
                      </a>
                  </div>
              </div>
              <div class="header-menu d-none d-xl-block">
                  <div class="main-menu">
                      <ul>
                          <li><a href="/">Home</a>
                            
                          </li>
                          <li><a href="/#about">About</a></li>
                          <li><a href="/#objectives">Objectives</a></li>
                          
                          <li><a href="/#impact">Impact</a></li>
                          <li><a href="/#contact">Contact</a></li>
                      </ul>
                  </div>
              </div>
              <div class="header-right d-flex align-items-center">
                  <div class="header-btn-cta d-none d-sm-block">
                      <a href="contact.html" class="theme-btn">Apply Now <i class="fal fa-long-arrow-right"></i></a>
                  </div>
                  <div class="mobile-nav-bar d-block ml-3 ml-sm-5 d-xl-none">
                      <div class="mobile-nav-wrap">                    
                          <div id="hamburger">
                              <i class="fal fa-bars"></i>
                          </div>
                          <!-- mobile menu - responsive menu  -->
                          <div class="mobile-nav">
                              <button type="button" class="close-nav">
                                  <i class="fal fa-times-circle"></i>
                              </button>
                              <nav class="sidebar-nav">
                                  <ul class="metismenu" id="mobile-menu">
                                    <li><a href="/">Home</a>
                            
                                    </li>
                                    <li><a href="/#about">About</a></li>
                                    <li><a href="/#objectives">Objectives</a></li>
                                    
                                    <li><a href="/#impact">Impact</a></li>
                                    <li><a href="/#contact">Contact</a></li>
                                  </ul>
                              </nav>
  
                              <div class="action-bar text-white">
                                  <a href="https://zfrmz.com/KmxYJYctne8uk5gOx8EB" target="_blank" class="theme-btn mt-4">get a touch <i class="fal fa-arrow-right"></i></a>
                              </div>
                          </div>                           
                      </div>
                      <div class="overlay"></div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</header>
